::ng-deep .p-divider .p-divider-content {
  background-color: #ededf2;
}

.header {
  font-size: 1.5rem;
  font-weight: 500;
}

.category-name {
  font-size: 1.25rem;
  font-weight: 500;
}

.category-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;

  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.025);
    border-radius: 5px;
  }

  // img {
  //   width: 150px;
  //   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  //   margin-right: 2rem;
  // }

  .category-list-detail {
    flex: 1 1 0;
  }
}
