::ng-deep .p-menubar {
  background-color: white !important;
  margin-left: -0.2rem;
  margin-right: -0.2rem;
  margin-top: -0.2rem;

  a.p-menubar-button {
    display: none;
  }
}

.logo-link {
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 576px) {
  .launch-button {
    display: none;
  }
}
