<p-menubar styleClass="p-px-4 p-px-sm-6 p-mb-4">
  <ng-template pTemplate="start">
    <img
      src="../../../assets/witch-hat.png"
      height="40"
      class="p-mr-2 logo-link"
      alt="Skill Guider"
      routerLink=""
    />
  </ng-template>
  <ng-template pTemplate="end">
    <button
      pButton
      pRipple
      label="About"
      class="p-button-text p-button-plain"
    ></button>
    <button
      *ngIf="href === '/' || href === '/home' || href === '/about'"
      pButton
      pRipple
      label="Launch App"
      class="p-button-raised p-ml-3"
      (click)="startAppRoute()"
    ></button>
    <button
      *ngIf="isAuthenticated | async"
      pButton
      pRipple
      label="Signout"
      class="p-ml-2 p-button-text p-button-plain"
      (click)="signout()"
    ></button>
  </ng-template>
</p-menubar>
