<div class="p-grid p-jc-center">
  <div class="p-col-11 p-sm-9 p-md-7 p-lg-5">
    <p-card styleClass="card-background">
      <div class="p-text-center header-skill">
        <span *ngIf="skill; else paramTitle">{{ skill.title }}</span>
        <ng-template #paramTitle>{{ skillTitle }}</ng-template>
      </div>
    </p-card>

    <div style="margin-bottom: 1rem"></div>

    <p-tabMenu
      styleClass="p-mb-2"
      [model]="items"
      [activeItem]="activeItem"
    ></p-tabMenu>

    <ng-template #loading>
      <div class="p-grid p-jc-center p-mt-4">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </ng-template>

    <div *ngIf="isLoaded === false; else loading" class="p-fluid">
      <p-card *ngIf="activeItem.key === 'course'">
        <div class="p-text-left p-ml-4 header">คอร์สเรียนจาก Udemy</div>

        <p-dataView
          [value]="courseList"
          layout="list"
          [rows]="5"
          [paginator]="true"
        >
          <ng-template let-course pTemplate="listItem" let-i="index">
            <div
              class="learn-item"
              (click)="goToExternalWebsite('https://udemy.com' + course.url)"
            >
              <div class="image-container">
                <img
                  [src]="
                    course.image_480x270
                      ? course.image_480x270
                      : '../../../assets/gray.png'
                  "
                  [alt]="course.title"
                  class="learn-image"
                />
              </div>
              <div class="learn-list-detail">
                <div class="p-mb-2 text-course">{{ course.title }}</div>
                <small>{{ course.headline }}</small>
              </div>
              <div class="learn-list-action p-ml-2">
                <small>{{ course.price }}</small>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </p-card>

      <p-card *ngIf="activeItem.key === 'article'">
        <div class="p-text-left p-ml-4 header">บทความจาก Medium</div>

        <p-dataView
          [value]="articleList"
          layout="list"
          [rows]="articleList.length"
        >
          <ng-template let-article pTemplate="listItem" let-i="index">
            <div class="learn-item" (click)="goToExternalWebsite(article.url)">
              <div class="image-container">
                <img
                  [src]="article.img ? article.img : '../../../assets/gray.png'"
                  [alt]="article.title"
                  class="learn-image"
                />
              </div>
              <div class="learn-list-detail">
                <div class="p-mb-2">{{ article.title }}</div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </p-card>
    </div>
  </div>
</div>
