.header {
  font-size: 1.75rem;
  font-weight: 500;
}

.header-job {
  font-size: 2rem;
  font-weight: 500;
}

.skill-name {
  font-size: 1rem;
  font-weight: 400;
}

.skill-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 100%;

  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.025);
  }

  .skill-list-detail {
    flex: 1 1 0;
  }

  .border-priority-high {
    border-left: 4px solid red !important;
  }
}

::ng-deep p-tag .tag-priority-high {
  background-color: #f55f20;
  font-weight: 500;
}

::ng-deep p-tag .tag-priority-normal {
  background-color: #fbb124;
  font-weight: 500;
}

.dot-priority-high {
  color: #f55f20;
}

.dot-priority-normal {
  color: #fbb124;
}

::ng-deep .p-button.checked-button {
  color: #46ab44 !important;

  &:hover {
    color: #3f9e3e !important;
  }
}
