<p-toast></p-toast>

<p-table
  #jobDataTable
  [value]="jobList"
  [autoLayout]="true"
  styleClass="p-datatable-striped"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center">
      <h2 class="p-m-0">Jobs Management</h2>
      <button
        pButton
        pRipple
        label="New Job"
        icon="pi pi-plus"
        class="p-ml-3 p-button-sm"
        (click)="newJob()"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="title">
        Title <p-sortIcon field="title"></p-sortIcon>
      </th>
      <th pSortableColumn="category_id">
        Category <p-sortIcon field="category_id"></p-sortIcon>
      </th>
      <th>Skill Set</th>
      <th style="width: 8rem"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>
        {{ rowData.title }}
      </td>
      <td>
        {{ categoryDict[rowData.category_id] }}
      </td>
      <td>
        <span *ngFor="let skill of rowData.skillset; index as i">
          {{ skillDict[skill.skill_id]
          }}<span *ngIf="i !== rowData.skillset.length - 1">,</span>
        </span>
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editJob(rowData)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteJob(rowData)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="jobDialogOpen"
  [style]="{ width: '450px' }"
  header="Job Details"
  [modal]="true"
  [maximizable]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="title">Title</label>
      <input type="text" pInputText [(ngModel)]="job.title" autofocus />
    </div>

    <div class="p-field">
      <label for="category">Category</label>
      <p-dropdown
        [options]="categoryList"
        [(ngModel)]="job.category_id"
        placeholder="Select"
        optionLabel="title"
        optionValue="_id"
      ></p-dropdown>
    </div>

    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        [(ngModel)]="job.description"
        rows="5"
        cols="30"
        pInputTextarea
        [autoResize]="true"
      ></textarea>
    </div>

    <div class="p-field">
      <label for="high-skill">
        <i
          class="pi pi-circle-on p-pr-2 dot-priority-high"
          style="font-size: 0.5rem"
        >
        </i>
        High Priority Skill
      </label>
      <p-multiSelect
        [options]="skillList"
        defaultLabel="Select"
        optionLabel="title"
        optionValue="_id"
        [(ngModel)]="selectedHighSkillSet"
        [virtualScroll]="true"
        [itemSize]="37"
        [showToggleAll]="false"
      ></p-multiSelect>
    </div>

    <div class="p-field">
      <label for="normal-skill">
        <i
          class="pi pi-circle-on p-pr-2 dot-priority-normal"
          style="font-size: 0.5rem"
        >
        </i>
        Normal Priority Skill
      </label>
      <p-multiSelect
        [options]="skillList"
        defaultLabel="Select"
        optionLabel="title"
        optionValue="_id"
        [(ngModel)]="selectedNormalSkillSet"
        [virtualScroll]="true"
        [itemSize]="37"
        [showToggleAll]="false"
      ></p-multiSelect>
    </div>

    <p-divider></p-divider>

    <small
      *ngIf="selectedHighSkillSet.length + selectedNormalSkillSet.length === 0"
    >
      Selected skills will be displayed here.
    </small>

    <div>
      <span *ngFor="let skill of selectedHighSkillSet; index as i">
        <p-chip
          [label]="skillDict[skill]"
          styleClass="p-button-sm p-m-1 chip-priority-high"
        ></p-chip>
      </span>
      <span *ngFor="let skill of selectedNormalSkillSet; index as i">
        <p-chip
          [label]="skillDict[skill]"
          styleClass="p-button-sm p-m-1 chip-priority-normal"
        ></p-chip>
      </span>
    </div>

    <small
      *ngIf="selectedHighSkillSet.length + selectedNormalSkillSet.length > 0"
    >
      * We will keep a HIGH priority skill, if there were duplicated between
      normal skill and high skill.
    </small>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text p-button-plain"
      (click)="closeDialog()"
    ></button>

    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      (click)="saveJob()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog
  defaultFocus="none"
  acceptButtonStyleClass="p-button-danger"
  rejectButtonStyleClass="p-button-text p-button-plain"
  [style]="{ width: '450px' }"
></p-confirmDialog>
