<p-toast></p-toast>

<p-table
  #categoryDataTable
  [value]="jobList"
  [rows]="jobList.length"
  [autoLayout]="true"
  styleClass="p-datatable-striped"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center">
      <h2 class="p-m-0">Jobs Management</h2>
      <button
        pButton
        pRipple
        label="New Job"
        icon="pi pi-plus"
        class="p-ml-3 p-button-sm"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Skill Set</th>
      <th style="width: 8rem"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>
        {{ rowData.title }}
      </td>
      <td>
        {{ categoryDict[rowData.category_id] }}
      </td>
      <td>
        <span *ngFor="let skill of rowData.skillset; index as i">
          {{ skillDict[skill.skill_id]
          }}<span *ngIf="i !== rowData.skillset.length - 1">,</span>
        </span>
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- <p-dialog
  [(visible)]="categoryDialogOpen"
  [style]="{ width: '450px' }"
  header="Category Details"
  [modal]="true"
  [contentStyle]="{ overflow: 'visible' }"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Title</label>
      <input
        type="text"
        pInputText
        id="title"
        [(ngModel)]="category.title"
        required
        autofocus
      />
    </div>
    <div class="p-field">
      <label for="name">Skill</label>
      <p-multiSelect
        [options]="skillList"
        defaultLabel="Select skills"
        optionLabel="title"
        optionValue="_id"
        [(ngModel)]="selectedSkillSet"
        [virtualScroll]="true"
        [itemSize]="37"
        [showToggleAll]="false"
      ></p-multiSelect>
    </div>

    <p-divider></p-divider>

    <div>
      <span *ngFor="let skill of selectedSkillSet; index as i">
        <p-chip
          [label]="skillDict[skill]"
          styleClass="p-button-sm p-m-1"
        ></p-chip>
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text p-button-plain"
      (click)="hideDialog()"
    ></button>

    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      (click)="saveCategory()"
    ></button>
  </ng-template>
</p-dialog> -->

<p-confirmDialog
  defaultFocus="none"
  acceptButtonStyleClass="p-button-danger"
  rejectButtonStyleClass="p-button-text p-button-plain"
  [style]="{ width: '450px' }"
></p-confirmDialog>
