.home-area {
  margin-top: -1.5rem;
  margin-bottom: -3rem;
}

#particles-js {
  height: auto;
}

.context-position {
  position: absolute;
  top: 40vh;
}

.context-position .header {
  font-size: 3rem;
  font-weight: 500;
}

.context-position .sub-header {
  font-size: 1.5rem;
  font-weight: 400;
}
