<div class="p-grid p-jc-center">
  <div class="p-col-11 p-sm-9 p-md-9 p-lg-8">
    <div class="p-text-center p-mb-4 header">
      <span *ngIf="category">สายงาน {{ category.title }}</span>
    </div>

    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-6 p-lg-6" *ngFor="let job of jobs | async; index as i">
        <p-card [header]="job.title" styleClass="p-mb-3 p-p-3">
          {{ details.desc | slice: sliceOptions.start:sliceOptions.end }}
          <span *ngIf="details.desc.length >= sliceOptions.default">
            <a> ...</a>
            <a class="readmore-link" (click)="displayDialog(job)">
              อ่านเพิ่มเติม
            </a>
          </span>

          <ng-template pTemplate="footer">
            <div style="text-align: right">
              <p-button
                icon="pi pi-chevron-right"
                label="เลือก"
                iconPos="right"
              ></p-button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>

<span *ngIf="selectedResult">
  <p-dialog
    [header]="selectedResult.title"
    [(visible)]="displayModal"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <!-- <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-chevron-right"
        (click)="displayModal = false"
        label="เลือก"
        iconPos="right"
      ></p-button>
    </ng-template> -->
  </p-dialog>
</span>
