.header {
  font-size: 2rem;
  font-weight: 500;
}

.readmore-link {
  color: #4286f4;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    color: #18289c;
    text-decoration: underline;
  }
}
